@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);
body {

    /* Default styles for larger screens */
    font-size: 16px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    


    font-family: 'Poppins', sans-serif;
    background: #fff;

  
    background-image: url('without middle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    opacity: 1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  header {
    position: relative;
  }
  
  header.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .logo {
    display: inline-block;
    padding: 10px;
    left: 200px;
  }
  
  .logo img {
    max-height: 80px;
    margin-left: 50px;
    vertical-align: middle;
  }
  
  nav {
    background-color: #ffffff;
    border-bottom: 3px solid green;
  }
  
  nav ul {
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 18px;
  }
  
  nav ul li a {
    color: #077245;
    text-decoration: none;
    padding: 12px 40px;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2px;
  }
  
  nav ul li a:hover {
    color: rgb(52, 71, 55);
    background: #3ce41b;
    border-radius: 100px;
    transition: 0.2s;
  }
  
  /* For Smaller screens (tablets) */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
    .logo {
      left: 20px; /* Adjust positioning on smaller screens */
    }
    nav ul {
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      padding-top: 10px;
    }
    nav ul li a {
      padding: 8px 20px;
      font-size: 18px;
    }

    .section1{
      width: 600px;
      height: 200px;
      padding: 15px;
      background-color: #a5d6b1;
      box-shadow: 10px 10px 5px green;
      border-radius: 15px;
    }
  
  
  
   .head-image{
      position: fixed;
      margin-top: 140px;
      margin-left: 20px;
   } 
  
   .head-image img{
      width:100%;
      height: auto;
      display: block;
      border-radius: 50px;
   }



  }
  
  .section1{
    width: 600px;
    height: 200px;
    padding: 15px;
    background-color: #a5d6b1;
    box-shadow: 10px 10px 5px green;
    border-radius: 15px;
  }

 .head-image{
    position: fixed;
    margin-top: 140px;
    margin-left: 20px;
 } 

 .head-image img{
    width:100%;
    height: auto;
    display: block;
    border-radius: 50px;
 }

 h1{
  color: #136D13;
	padding-top: 0px;
  padding-bottom: 20px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
 }

 h3 {
  font-size: 25px;

}

.main_container{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

hr{
  width: 200%;
  height: 3px;
  background-color: #077245;
}

/* h1{
  width: 50%;
} */


.container {
  display: inline;
  max-width: 80vw;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  
}

.item {
  display: flex;
  width: 70%;
  height: 300px;
  margin: 30px auto;
  vertical-align: middle;
  border-radius: 20px;
  border: 3px solid green;
}

.item img {
  margin-top: 2.5%;
  margin-left: 3%;
  width : 40%;
  height: 90%;
  border-radius: 30px;
  transition: ease-in-out 0.3s;
}

.item img:hover {
transform: scale(1.1);
}
.item-info{
  font-size: 17px;
  margin-top: 70px;
  margin-left: 30px;
  text-align: left;
}



.description {
	background-color: #2b976a;
}

.description h1 {
	font-size: 54px;
	margin-top: 40px;
	padding-top: 40px;
	text-align: center;
  justify-content: center;
  color: white;
  /* padding-left: 300px; */
}

.description p {
	margin-bottom: 20px;
	font-size: 24px;
	padding-top: 40px;
	text-align: center;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	
}

